<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагування предметів</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="container mt-4">
<h2 class="text-center mb-4">Редагування предметів</h2>

<div class="card shadow p-4 mx-auto" style="max-width:600px;">
    <form action="/destinations/save" method="post" th:object="${destination}">

        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label for="name" class="form-label">Назва предмету</label>
            <input type="text" id="name" th:field="*{name}" class="form-control"
                   placeholder="Введіть назву предмету" required>
        </div>

        <div class="mb-3">
            <label for="imageUrl" class="form-label">URL зображення</label>
            <input type="text" id="imageUrl" th:field="*{imageUrl}" class="form-control"
                   placeholder="Вставте URL зображення">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Опис туристичного місця</label>
            <textarea id="description" th:field="*{description}" class="form-control" rows="3"
                      placeholder="Додайте опис предмету"></textarea>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success">Зберегти</button>
            <a href="/destinations" class="btn btn-danger">Скасувати</a>
        </div>
    </form>
</div>

</body>
</html>